@charset "utf-8";
* {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
body, html {
    background-color: rgb(38, 197, 24);
    height: 100vh;
    width: 100vw;
}
main {
    position: relativ;
    height: 100vh;
    width: 100vw;
}
section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;
    background-color: white;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.952);
    transition: width 0.3s, height 0.3;
    transition-timing-function: ease;
    transform: translate(-50%, -50%);
}
section#login > div#imagem {
    display: block;
    background-color: rgb(38, 197, 24);
    background-image: url(../imagens/xbox.jpg);
    background-repeat: no-repeat; 
    background-size: cover;
    background-position: right bottom;
    height: 200px;
}
section#login > div#formulario {
    display: block;
    padding: 10px;
}
div#formulario > h1 {
    text-align: center;
    margin-bottom: 10px;
}
div#formulario > p {
    font-size: 0.8em;
}
form > div.campo {
    background-color: rgb(3, 139, 3, 0.884);
    width: 100%;
    display: block;
    height: 40px;
    border-radius: 7px;
    margin: 5px 0px;
    border: 2px solid rgb(3, 139, 3, 0.884);
}
div.campo > span {
    color: white;
    font-size: 1.9em; 
    width: 38px;
    padding: 5px;
    border-radius: 7px;
    height: 37px;
}
div.campo > label {
    display: none;
}
div.campo > input {
    background-color: rgba(26, 255, 0, 0.671);
    font-size: 1em;
    width: calc(100% - 44px);
    height: 100%;
    border: 0px;
    border-radius: 7px;
    padding: 4px;
    transform: translatey(-12px);
}
div.campo > input:focus-within{
    background-color: white;
    border: none;
}
form > input[type=submit] {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: rgb(38, 197, 24);
    border: 1px solid rgb(3, 139, 3, 0.884);
    color: white;
    border: none;
    border-radius: 7px;
    cursor: pointer;
}
form > input[type=submit]:hover {
    background-color: rgb(3, 139, 3, 0.884);
}
form > a{
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    padding-top: 5px;
    margin-top: 5px;
    background-color: rgb(38, 197, 24);
    color: white;
    border: 1px solid rgb(3, 139, 3, 0.884);
    border-radius: 7px;
    text-decoration: none;
}
form > a:hover {
    background-color: rgb(3, 139, 3, 0.884);
}
form > a > span {
    font-size: 0.8em;
}